
//
// SGD - BACKGROUNDS
//


.sgd-background {

  height: 200px;
  position: relative;
  margin-bottom: 22px;

  span {
    font-family: $sgd-font-system;
    text-align: center;
    display: inline-block;
    color: $sgd-white;
    background-color: rgba(0,0,0,.5);
    padding: .75rem 1.25rem;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }

}
