
//
// SGD - PLACEHOLDER
//


.sgd-placeholder {

  height: 50px;
  background-color: $black;
  margin-bottom: 1rem;
  line-height: 50px;
  text-align: center;
  color: $white;
  font-weight: bold;
  font-family: $sgd-font-system;
  position: relative;

  &.-darker {
    background: lighten($black,20%);
  }
  &.-lighter {
    background: lighten($black,40%);
  }
  &.pattern {
    height: 64vh;
    margin: 0;
  }

  .sgd-header-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.24);
    color: rgba(255,255,255,.88);
    text-transform: none;
  }

}
