
//
// SGD - COLORS
//


.sgd-color-card {

  @include aspect-ratio-content(1,1);
  display: block;
  margin-bottom: 1rem;
  overflow: visible;

  .sgd-header-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.24);
    color: rgba(255,255,255,.66);
  }

  .body {
    border-radius: 100%;
    overflow: hidden;
    z-index: 2;
    font-family: $sgd-font-system;
    &:before,
    &:after {
      text-align: center;
      display: inline-block;
      color: $sgd-white;
      background-color: rgba(0,0,0,.5);
      padding: .75rem 1.25rem;
      border-radius: 50px;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      transition: transform .675s ease;

    }

    &:before{
      top: 100%;
    }
    &:after{
      bottom: 100%;
    }

    // Transition on Hover
    &:hover {
      &:before{
        transform: translate(-50%,-135%);
      }
      &:after{
       transform: translate(-50%,135%);
      }
    }
  }

  .color-card-small & {
    font-size: 12px;
    .body {
      &:before,
      &:after {
        padding: .5rem 1rem;
      }
    }
  }

  .shadow {
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: red;
    box-shadow: 0px 0px 11px rgba(0,0,0,.2);
    z-index: 1;
  }


  @include sgdColors($white, 'white');
  @include sgdColors($black, 'black');
  @include sgdColors($grey, 'grey');

  @include sgdColors($red, 'red');
  @include sgdColors($blue, 'blue');


}
