
//
// MIXINS - BREAKPOINT/CONTENT
//


// Breakpoints
$bp-370:                                370px !default;
$bp-480:                                480px !default;
$bp-600:                                600px !default;
$bp-768:                                768px !default;
$bp-1024:                               1024px !default;
$bp-1280:                               1280px !default;
$bp-1368:                               1368px !default;
$bp-1440:                               1440px !default;
$bp-1680:                               1680px !default;
$bp-1920:                               1920px !default;


// CONTENT MIXINS

// Viewport
@mixin VP320                            {                                @content;} 
@mixin VP370                            {  @include media-min($bp-370)  {@content;} }  
@mixin VP480                            {  @include media-min($bp-480)  {@content;} }  
@mixin VP600                            {  @include media-min($bp-600)  {@content;} }  
@mixin VP768                            {  @include media-min($bp-768)  {@content;} }  
@mixin VP1024                           {  @include media-min($bp-1024) {@content;} }  
@mixin VP1280                           {  @include media-min($bp-1280) {@content;} }  
@mixin VP1368                           {  @include media-min($bp-1368) {@content;} }  
@mixin VP1440                           {  @include media-min($bp-1440) {@content;} }  
@mixin VP1680                           {  @include media-min($bp-1680) {@content;} }  
@mixin VP1920                           {  @include media-min($bp-1920) {@content;} }  

/// Only ranges
@mixin MOBILE                           {  @include media-only(240px, 599px)    {@content;} } 
@mixin TABLET                           {  @include media-only(600px, 1023px)   {@content;} } 
@mixin MOBILETABLET                     {  @include media-only(240px, 1023px)   {@content;} } 
@mixin DESKTOP                          {  @include media-min($bp-1024)         {@content;} } 


/////////////////////////////////////////////////////////////////////////
// INLINE MEDIA MIXIN MAGIC
// -> http://jakearchibald.github.io/sass-ie/
/////////////////////////////////////////////////////////////////////////

//////// BREAKPOINTS FOR MODULES

$fix-mqs: false !default;

@mixin media-min($width) {
    @if $fix-mqs {
        @if $fix-mqs >= $width {
            @content;
        }
    } @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

@mixin media-max($width) {
    @if $fix-mqs {
        @if $fix-mqs <= $width {
            @content;
            }
    } @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}

@mixin media-only($minwidth, $maxwidth) {
    @media screen and (min-width: $minwidth) and (max-width: $maxwidth) {
        @content;
    }
}
