
//
// SITE - HELPER CLASSES
//


// - - - BACKGROUND POSITION

  // Top
  .-bg-focus-left-top {
    background-position: left top!important;
  }
  .-bg-focus-center-top {
    background-position: center top!important;
  }
  .-bg-focus-right-top {
    background-position: right top!important;
  }
  // Center
  .-bg-focus-left-center {
    background-position: left center!important;
  }
  .-bg-focus-center-center {
    background-position: center center!important;
  }
  .-bg-focus-right-center {
    background-position: right center!important;
  }
  // Bottom
  .-bg-focus-left-bottom {
    background-position: left bottom!important;
  }
  .-bg-focus-center-bottom {
    background-position: center bottom!important;
  }
  .-bg-focus-right-bottom {
    background-position: right bottom!important;
  }

// - - - FLEX

.-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


// - - - POSITION

.-pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// - - - TYPOGRAPHY

.-text-center {
  text-align: center;
}

.-text-left {
  text-align: left;
}

.-text-right {
  text-align: right;
}

.-text-uppercase {
  text-transform: uppercase;
}




// - - - DISPLAY

.-show {
  display: block !important;
  visibility: visible !important;
}

.-hidden {
  visibility: hidden !important;
}

.-hide {
  display: none !important;
}

// (i)-> Completely remove from the flow but leave available to screen readers.
.-hidden-screenreaders {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.-hide-mobile {
  @media screen and (max-width: 767px)  {
     display: none!important;
  }
}

.-hide-tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px)  {
     display: none!important;
  }
}

.-hide-desktop {
  @media screen and (min-width: 768px)  {
     display: none!important;
  }
}








