
//
// SITE FONT IMPORTS
//



@font-face {font-family: 'CaslonFiveForty-ItalicOsF';src: url('~assets/fonts/3312FF_0_0.eot');src: url('~assets/fonts/3312FF_0_0.eot?#iefix') format('embedded-opentype'),url('~assets/fonts/3312FF_0_0.woff2') format('woff2'),url('~assets/fonts/3312FF_0_0.woff') format('woff'),url('~assets/fonts/3312FF_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CaslonFiveForty-RomanSC';src: url('~assets/fonts/3312FF_1_0.eot');src: url('~assets/fonts/3312FF_1_0.eot?#iefix') format('embedded-opentype'),url('~assets/fonts/3312FF_1_0.woff2') format('woff2'),url('~assets/fonts/3312FF_1_0.woff') format('woff'),url('~assets/fonts/3312FF_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CaslonFiveFortyLT-Roman';src: url('~assets/fonts/3312FF_2_0.eot');src: url('~assets/fonts/3312FF_2_0.eot?#iefix') format('embedded-opentype'),url('~assets/fonts/3312FF_2_0.woff2') format('woff2'),url('~assets/fonts/3312FF_2_0.woff') format('woff'),url('~assets/fonts/3312FF_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CaslonFiveFortyLT-Italic';src: url('~assets/fonts/3312FF_3_0.eot');src: url('~assets/fonts/3312FF_3_0.eot?#iefix') format('embedded-opentype'),url('~assets/fonts/3312FF_3_0.woff2') format('woff2'),url('~assets/fonts/3312FF_3_0.woff') format('woff'),url('~assets/fonts/3312FF_3_0.ttf') format('truetype');}

@font-face {
  font-family: 'CopperplateGothicLTPro-30AB';
  src: url('~assets/fonts/font.woff2') format('woff2'), url('~assets/fonts/font.woff') format('woff');
} 

// OLD


// @font-face {
//     font-family: 'Caslon';
//     src: url("~assets/fonts/3312FF_2_0.eot");
//     src: url("~assets/fonts/3312FF_2_0.eot?#iefix") format("embedded-opentype"), url("~assets/fonts/3312FF_2_0.woff2") format("woff2"), url("~assets/fonts/3312FF_2_0.woff") format("woff"), url("~assets/fonts/3312FF_2_0.ttf") format("truetype");
//     font-weight: normal;
//     font-style: normal
// }

// @font-face {
//     font-family: 'CaslonFine';
//     src: url("~assets/fonts/3312FF_3_0.eot");
//     src: url("~assets/fonts/3312FF_3_0.eot?#iefix") format("embedded-opentype"), url("~assets/fonts/3312FF_3_0.woff2") format("woff2"), url("~assets/fonts/3312FF_3_0.woff") format("woff"), url("~assets/fonts/3312FF_3_0.ttf") format("truetype");
//     font-weight: normal;
//     font-style: normal
// }

// @font-face {
//     font-family: 'CaslonCAPS';
//     font-weight: normal;
//     font-style: normal;
//     src: url("~assets/fonts/3312FF_1_0.eot");
//     src: url("~assets/fonts/3312FF_1_0.eot?#iefix") format("embedded-opentype"), url("~assets/fonts/3312FF_1_0.woff2") format("woff2"), url("~assets/fonts/3312FF_1_0.woff") format("woff"), url("~assets/fonts/3312FF_1_0.ttf") format("truetype")
// }

// @font-face {
//     font-family: 'Copper';
//     font-weight: normal;
//     font-style: normal;
//     src: url("~assets/fonts/331C6E_0_0.eot");
//     src: url("~assets/fonts/331C6E_0_0.eot?#iefix") format("embedded-opentype"), url("~assets/fonts/331C6E_0_0.woff2") format("woff2"), url("~assets/fonts/331C6E_0_0.woff") format("woff"), url("~assets/fonts/331C6E_0_0.ttf") format("truetype")
// }

